body {
	font-family: 'Open Sans', sans-serif;
/*	background-image: url("../img/Agnecy_Landing Page_Main_File.png");
	background-position: center top;*/
}

*, *::after, *::before {
	box-sizing: inherit;
}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 1250	px;
	padding: 0;
	margin: 0 auto;
}

header {
	background-color: #f6f2f2;
}

.main-navigation {
	padding-top: 29px;
}

.main-navigation ul {
	padding: 0;
	width: 600px;
	background: #333;
	font-size: 0px;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	list-style: none;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	min-height: 90px;
	padding-top: 37px;
	padding-left: 25px;
	padding-right: 25px;
	color: #FFFFFFFF;
	text-decoration: none;
}

.main-navigation a:hover {
	background-color: #FF000F;
}

.header-content {
	width: 1250px;
	margin-top: 100px;
	margin-bottom: 110px;
	padding-bottom: 120px;

}

.header-content-text {
	margin-top: 0;
	float: left;
	width: 620px;
}

.header-content-text h1 {
	font-size: 60px;
	margin-top: 0px;

}

.main-button {
	display: block;
	margin-top: 35px;
	padding: 15px 62px;
	background-color: #ff2d2d;
	border: none;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
}

.header-video {
	float: right;
	margin-right: 
	width: 565px;
	box-shadow: 0px 0px 67px -4px rgba(0,0,0,0.53);
}

.header-video img {
	width: 551px;
	height: 326px;
}


.provides .container {
	margin-top: 110px;
	margin-bottom: 110px;
	margin-left: auto;
	margin-right: auto;
	width: 1250px;
}

.provides-title {
	width: 550px;
	float: left;
	margin-right: 10px;
}

.provides-title h2 {
	font-size: 42px;
	margin-top: 0;
}

.provides-button {
	background-color: #fff;
	color: #ff2d2d;
	border: 2px solid #ff2d2d;
	border-radius: 5px;
	margin-top: 58px;
	padding: 15px 50px;
}

.provides-services {
	float: right;
	width: 670px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.provides-services div {
	width: 290px;
	margin-bottom: 46px;
}



.provides-services b {
	display: block;
	font-size: 24px;
	margin-top: 22px;
	margin-bottom: 22px;
}

.provides-management::before {
	content: "";
	display: block;
    width: 41px; 
    height: 41px;
    background: url("../img/css_sprites.png") -10px -10px;
}

.provides-design::before {
	content: "";
	display: block;
	width: 41px; 
	height: 41px;
    background: url('../img/css_sprites.png') -71px -10px;
}

.provides-logo::before {
	content: "";
	display: block;
	width: 41px; 
	height: 33px;
    background: url('../img/css_sprites.png') -131px -10px;
}

.provides-animation::before {
	content: "";
	display: block;
	width: 44px; 
	height: 33px;
    background: url('../img/css_sprites.png') -10px -71px;
}





.products-text {
	margin-top: 110px;
	margin-bottom: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 550px
}

.products-example {
	width: 1000px;
	margin-bottom: 44px;
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
}

.products-images {
	width: 1248px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 110px;
}

.products-images img {
	width: 308px;
}

.team-text {
	width: 500px;
	margin-bottom: 65px;
}

.team-main-image {
	width: 345px;
	float: left;
}

.team-content {
	float: right;
	width: 880px;
}

.email-content {
	width: 1110px;
	margin: 110px auto;
}

.feedback-text {
	width: 766px;
	margin-bottom: 70px;
}

.feedback-form {
	float: left;
	width: 750px;
}

.feedback-contact {
	float: right;
	width: 575px;
}

.footer-content {
	margin-top: 110px;
	margin-bottom: 110px;
}







/*Визуализация сетки

section, footer, header {
	border: 2px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.content {
	border: 1px dashed yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

*/

/* Распорка для флоатов */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

